<h1 class="text-center mt-4" >Create a new category.</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <%= render 'form' %>
            </div>
                <div class="col-3 mb-3">
                    <%= link_to  'Keep back to the Categories Listing', categories_path, class: "text-primary", method: :get %>
                </div>
        </div>
</div>